<div class= "center jumbotron">
<h1> Cripto F </h1>
<h2> Bienvenido a la página principal de la aplicación del Grupo F de Criptografía :D </h2>
    <%= link_to "¡Regístrese ahora!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>