<footer id="footer">
	<nav class="footer-nav">
		<div id="items-footer">
			<h6>Integrantes</h6>
			<ul id="list-footer" class="nav">
				<li>El Diego</li>
				<li>El Felipe</li>
				<li>La Juliana</li>
				<li>La Laura</li>
				<li>La Marcela</li>
			</ul>
		</div>
		<div id="items-footer">
			<h6>Profesor</h6>
			<ul id="list-footer" class="nav">
				<li>Jeisson Andres Vergara Vargas</li>
			</ul>
		</div>
	</nav>
	<div id="site-footer__legal">
		<span>Crypto Grupo F</span>
	</div>
	</div>
</footer>
